
body{
    color: white;
}

.sc-container{
    width: 70%;
    margin: 0 auto;
}

/* debug */
.debug{
    background-color: rgba(255, 127, 80, 0.5);
    border: 1px solid black;
}

/* utilities */
.sc-d-flex{
    display: flex;
}

.sc-justify-content-between{
    justify-content: space-between;
}

.sc-align-items-center{
    align-items: center;
}

/* style removal */
.sc-ul-removal{
    list-style: none;
}

.sc-a-removal{
    text-decoration: none;
}

.sc-a-color{
    color: white;
}

.sc-imput-removal{
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.sc-imput-removal::placeholder{
    color: black;
}

/* effect */
.nav-link.sc-a-color:hover{
    color: white;
    text-decoration: underline;
}

.sc-a-color:hover{
    color: white;
}


/* color */
h2.sc-h2-odd{
    color: black;
}

/* button */
.button{
    display: inline-block;
    border: 1px solid white;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    line-height: 30px;
}

/* decoration */
.sc-border{
    border-bottom: 3px solid white;
}

.sc-border-alt{
    border-bottom: 3px solid black;
}

.sc-button-color{
    background-color: rgb(26, 188, 156);
    border: 1px solid rgb(26, 188, 156);
}

.sc-button-color:hover{
    background-color: rgba(26, 188, 156, 0);
    color: rgb(26, 188, 156);
    border: 1px solid rgb(26, 188, 156);
}