header{
    background-color: #2c3e50;
    height: 80px;
}

.jumbotron{
    background-color: rgb(26, 188, 156);
    height: 500px;
}

.img{
    background-color: blueviolet;
    width: 300px;
    height: 300px;
}

.sc-col-color{
    background-color: chocolate;

    /* debug */
    height: 150px;
    border: 1px dashed black;
}

#about{
    background-color: rgb(26, 188, 156);
}

#footer-top{
    background-color: rgb(58, 84, 109);
}

#footer-bottom{
    background-color: rgb(44, 62, 80);
}