header{
    background-color: #2c3e50;
    height: 80px;
}

.jumbotron{
    background-color: rgb(26, 188, 156);
}

/* portfolio section */
#portfolio{
    color: black;
}

/* about section */
#about{
    background-color: rgb(26, 188, 156);
}

/* contact section */
#contact-form{
    color: black;
}

#footer-top{
    background-color: rgb(58, 84, 109);
}

#footer-bottom{
    background-color: rgb(44, 62, 80);
}
